.container {
  width: 80%;
}

.user-img {
  --img-size: 100%;
  --img-border: 0.3rem;

  border-top-left-radius: var(--img-border);
  max-width: var(--img-size);
  max-height: var(--img-size);
}

@media (max-width: 576px) {
  .user-img {
    --img-size: 150%;
  }
}
