.container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  border-bottom-right-radius: 0.5rem;
  margin-top: -0.4rem;
  padding-top: 0.2rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.2);

  animation-name: entradaDesdeAbajo;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.container :first-child {
  margin-left: 0.3rem;
}

.container :last-child {
  margin-right: 0.3rem;
}

@keyframes entradaDesdeAbajo {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
